body {
  background-color: #3E3E3E;
  text-align: center;
}

ul {
  list-style-type: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  margin: 5px;
  color: #313131;
}

.currentWinnerBox {
  grid-column: span 4;
}

.accumulatedScoreBox {
  grid-column: span 4;
}

.houseRulesBox {
  grid-column: span 4;
}

.resultListBoxes {
  display: subgrid;
  grid-column: span 8;
}

.teamBox {
  grid-column: span 4;
}

.box {
  margin: 5px;
  padding: 5px;
  background: #A1D044;
}

/*
.navButton {
  text-decoration: underline;
  display: inline-block;
  margin: 5px;
}

.button {
  border: 1px solid;
  border-color: black;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

.chosenButton {
  border: 3px solid;
  border-color: black;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 5px;
}*/

/* .tempbox {
  border: 1px solid;
  border-color: black;
  display: inline-block;
  margin: 5px;
  padding: 10px;
} */
