body {
  background-color: var(--dark-grey);
  text-align: center;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  margin: 5px;
}

.left-col {
  grid-column: span 4;
}

.resultListBoxes {
  grid-column: span 8;
}

.header {
  display: block;
  margin: 0;
  padding: 10px 0px 10px 0px;
}

.box-content {
  padding: 10px 10px 10px 10px;
}

.box {
  margin: 5px;
}

.lists {
  text-align: left;
}


/* COLORS */

:root {
    --light-grey: #E8E8E8;
    --pink: #e82063;
    --dark-pink: #cc1d57;
    --blue: #00bed4;
    --dark-blue: #00a5b8;
    --lime-green: #8ac24a;
    --dark-lime-green: #79ab41;
    --yellow: #ff9a03;
    --dark-yellow: #de8500;
    --sea-green: #009685;
    --dark-sea-green: #008273;
    --white: #ffffff;
    --dark-grey: #303030;
    --black: #111;
    --grey-type: #666;
}

.bg-limegreen {
  background-color: var(--lime-green);
}

.bg-dark-limegreen {
  background-color: var(--dark-lime-green)
}

.bg-pink {
  background-color: var(--pink);
}

.bg-dark-pink {
  background-color: var(--dark-pink);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.bg-sea-green {
  background-color: var(--sea-green);
}

.bg-dark-sea-green {
  background-color: var(--dark-sea-green);
}

/*
.navButton {
  text-decoration: underline;
  display: inline-block;
  margin: 5px;
}

.button {
  border: 1px solid;
  border-color: black;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

.chosenButton {
  border: 3px solid;
  border-color: black;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 5px;
}*/

/* .tempbox {
  border: 1px solid;
  border-color: black;
  display: inline-block;
  margin: 5px;
  padding: 10px;
} */
