:root {
    --light-grey: #E8E8E8;
    --pink: #e82063;
    --dark-pink: #cc1d57;
    --blue: #00bed4;
    --dark-blue: #00a5b8;
    --lime-green: #8ac24a;
    --dark-lime-green: #79ab41;
    --yellow: #ff9a03;
    --dark-yellow: #de8500;
    --sea-green: #009685;
    --white: #ffffff;
    --dark-grey: #303030;
    --black: #111;
    --grey-type: #666;
}

body {
  background-color: var(--dark-grey);
  text-align: center;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  margin: 5px;
}

.currentWinnerBox {
  grid-column: span 4;
  background-color: var(--sea-green);
}

.accumulatedScoreBox {
  grid-column: span 4;
  background-color: var(--pink);
}

.houseRulesBox {
  grid-column: span 4;
  background-color: var(--blue);
}

.resultListBoxes {
  display: subgrid;
  grid-column: span 8;
}

.teamBox {
  grid-column: span 4;
  background-color: var(--lime-green);
}

.box {
  margin: 5px;
  padding: 5px;
  /*background: #A1D044;*/
}

/*
.navButton {
  text-decoration: underline;
  display: inline-block;
  margin: 5px;
}

.button {
  border: 1px solid;
  border-color: black;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

.chosenButton {
  border: 3px solid;
  border-color: black;
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin: 5px;
}*/

/* .tempbox {
  border: 1px solid;
  border-color: black;
  display: inline-block;
  margin: 5px;
  padding: 10px;
} */
